body {
  font-family: 'Nunito', sans-serif;
}

a {
  color: #468AFF;
}

a:hover {
  color: #0073FF;
}

h2 {
  margin-bottom: 2rem !important;
}

h3 {
  margin-bottom: 1rem !important;
}


.title-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.25rem;
  margin: -0.5em 0 1.5em;
}

.title-header .logo {
  width: auto;
  height: auto;
  max-height: 4.6rem;
  margin: 0;
  object-fit: contain;
}

.title-header .publication-title {
  margin: 0;
}

.hero {
  margin: 4rem 0 0 !important;
}

.button-icon {
  margin-right: 0.4rem;
}

.publication-title {
  img {
    width: 1.5em;
    padding-bottom: 0.2em;
    vertical-align: middle;
  }
}

.publication-venue {
  font-style: italic;
  font-weight: 800;
  font-size: 1.3rem;
  margin-bottom: 1.2rem !important;
}

.publication-author {
  margin-bottom: 0.5rem;
}

.publication-institution {
  margin-bottom: 0.5rem;
}

.publication-role {
  margin-bottom: 0.8rem;
}

.publication-links {
  a {
    color: white !important;
    margin: 5px 0;
  }

  a:hover {
    color: white !important;
  }
}

.author-block {
  display: inline-block;
}

.link-block {
  margin: 0 0.1rem 0;
}

.section {
  padding-bottom: 0;
}

.statistics {
  padding-top: 2rem;
}

.statistics-number {
  color: #F9B188 !important;
  font-size: 1.6rem;
}

.caption {
  margin: 0.3rem 0;
}

.footer {
  margin-top: 5rem;
  padding: 3rem 1rem;
  color: black;
}

.masonry {
  list-style: none;
  padding: 0;
  column-gap: 0.4rem;
}

.masonry-item {
  width: 100%;
  padding: 0;
  margin: 0;
  break-inside: avoid;
  max-height: none;
}

@media (max-width: 800px) {
  img {
    max-height: 20rem;
  }
}

@media (max-width: 768px) {
  .title-header {
    flex-direction: column;
    align-items: center;
    margin: -0.5em 0 1.2em;
  }

  .title-header .logo {
    max-height: 3.8rem;
  }
}

@media (min-width: 900px) {
  .masonry {
    column-count: 3;
  }
}

@media (max-width: 900px) {
  .masonry {
    column-count: 2;
  }
}

@media (max-width: 600px) {
  .masonry {
    column-count: 1;
  }
}